@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand-main: #4338ca; /* Deep Indigo */
  --color-brand-point: #6ee7b7; /* Soft Mint */
  --color-brand-accent: #fde68a; /* Sand Beige */
  --color-brand-bg: #fefce8; /* Ivory */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* 랭킹 반짝이 무지개 */
.rainbow-border {
  position: relative;
  border-radius: 4px;
  padding: 2px;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #8b00ff,
    #ff0000
  );
  background-size: 400% 100%;
  animation: rainbow 8s linear infinite;
}

.rainbow-border > .inner {
  border-radius: 4px;
  background: white; /* 박스 안쪽 색상 */
  padding: 16px;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@layer utilities {
  .rainbow-border {
    position: relative;
    border-radius: 12px;
    padding: 2px; /* border처럼 보일 두께 */
    background: linear-gradient(
      90deg,
      #ff0000,
      #ff7f00,
      #ffff00,
      #00ff00,
      #0000ff,
      #8b00ff,
      #ff0000
    );
    background-size: 400% 100%;
    animation: rainbow 8s linear infinite;
  }

  .rainbow-border .inner {
    border-radius: 10px; /* 부모보다 살짝 작게 */
    background: white; /* 안쪽 배경색 */
    padding: 16px;
  }

  @theme inline {
    --color-brand-main: #013a51; /* Deep Indigo */
    --color-brand-point: #eed056; /* Soft Mint */
    --color-brand-accent: #fde68a; /* Sand Beige */
    --color-brand-bg: #fefce8; /* Ivory */
  }
}
